/* DESKTOP VIEW */
@media screen and (min-width: 772px){
*,*::before, *::after{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: sans-serif;
}
header{
    width: 100%;
    background-image: url(./Assets/Background.png);
    background-repeat: no-repeat;
}
nav{
    display: flex;
    width: 100%;
    height: 80px;
    margin: auto;
    /* outline: 2px solid yellow; */
    margin-bottom: 2%;
}

.nav-sect1{
    width: 20%;
    /* margin-inline: 8% auto; */
    margin-block: auto;
    /* outline: 2px solid red; */
    align-items: center;
    margin: auto;
}
.nav-sect1 img{
    width: 50%;
    /* outline: 2px solid yellow; */
    margin-top: 20px;
}
.navsect2{
    /* outline: 2px solid red; */
    width: 40%;
    margin-top: 20px;
    margin-inline: auto 0;
    margin-block: auto;
    display: flex;
    list-style: none;
    align-items: center;
    height: 100px;
}
#menu{
    display: none;
}
#close{
    display: none;
}
.navsect2 ol{
    width: 80%;
    display: flex;
    list-style: none;
    justify-content: space-between;
}
nav ol img{
    /* outline: 2px solid yellow; */
    width: 20px;
    
}
.navsect2 ol a{
    text-decoration: none;
    color: rgb(75, 74, 74);
}
    
.navsect2 .get-started{
    border: 2px solid black;
    border-radius: 3px;
    padding: 8px 20px;
    color: white;
    background-color: black;
}

.navsect2 .get-started span{
    color: rgb(117, 113, 113);
}
    
.snippet-text{
    width: 80%;
    height: 300px;
    margin: auto;
}
    
.snippet-text .code-snip h1{
    text-align: center;
    width: 65%;
    margin: auto;
    font-weight: 800;
    margin-bottom: 10px;
    font-size: 35px;
} 

.snippet-text .code-snip  p{
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    margin: auto;
    margin-bottom: 30px;
} 
    
.snippet-text  .started{
    width: 100%;
    margin: auto;
}
.started .start{
    width: 20%;
    display: inline;
    margin: auto;
    margin-top: 10px;
    margin-inline: 40% auto;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 3px;
    font-size: 14px;
    padding: 8px 20px;
    color: white;
    background-color: black;
}    
.start span{
    color: rgb(117, 113, 113);
}
    
.snippet-text p{
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
}
    
.img-text{
    width: 80%;
    vertical-align: middle;
    border-style: none;
    margin: auto;
}
.img-text img{
    width: 100%;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
} 
    
.sect{
    width: 100%;
    background-color: white;
    height: 100vh;
    margin-top: 100px;
}
    
.sect-content{
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
}
.sect-content .text-content{
    width: 50%;
    margin-top: 60px;
}
.text-content h1{
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 1.5;
}
.text-content p{
    font-size: 13.5px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.sect-content .img-content{
    width: 50%;
}
 .sect-content .img-content img{
    width: 100%;
}
.start1{
    text-decoration: none;
    border: 2px solid black;
    border-radius: 3px;
    font-size: 14px;
    padding: 8px 20px;
    color: white;
    background-color: black;
    }
.down-text{
    width: 80%;
    display: flex;
    height: 100px;
    margin: auto;
}
.down-text .left{
    width: 40%;
    margin: auto;
    margin-top: 70px;
}
.down-text .right{
    width: 60%;
    margin: auto;
    height: 30px;
    margin-inline: 40% auto;
    margin-top: 70px;

}
 .right p{
    display: inline;
    padding-inline: 10px;
    font-size: 14px;
}
}
/* MOBILE VIEW */
@media screen and (max-width: 772px) {
    *,*::before, *::after{
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
     }
    body{
        width: 100%;
        font-family: sans-serif;
    }
header{
        width: 100%;
        background-image: url(./Assets/Background.png);
        background-repeat: no-repeat;
}
nav{
    display: flex;
    width: 100%;
    height: 80px;
    margin: 0;
    margin-bottom: 2%;
}
.harmburger{
    /* outline: 2px solid yellow; */
    /* width: 20%; */
    margin: auto;
    position: relative;
    left: 20px;
}

#menu{
    display: block;

}

#close{
    width: 40px;
     margin: auto; 
    position: relative;
    right: 50px; 
    display: none;
}
.nav-sect1{
    margin-inline: 8% auto;
    margin-block: auto;
}
    
.navsect2{
    width: 100%;
    display: none;
    position: relative;
    left: 10px;
    background-color: #fff;
    height: 300px;
    margin-top: 80px;
    border-radius: 5px;
    z-index: 1000;
}

.navsect2 ol{
    padding-top: 40px;
    width: 100%;
    height: 100px;
    flex-direction:column;
    list-style: none;
    justify-content: space-between;
}

.navsect2 ol li{
    margin: 2rem 0 1rem 1rem;
    font-size: 20px;
    
}
    
.navsect2 ol a{
    text-decoration: none;
    color: rgb(75, 74, 74);
    margin: 20px 0;
}

.navsect2 .get-started{
    border: 2px solid black;
    border-radius: 3px;
    font-size: 18px;
    color: white;
    background-color: black;
}
.navsect2 .get-started span{
    color: rgb(117, 113, 113);
}
    
.snippet-text{
    width: 80%;
    height: 300px;
    margin: auto;
}
.snippet-text .code-snip h1{
    text-align: center;
    width: 80%;
    margin: auto;
    font-weight: 800;
    margin-bottom: 10px;
    font-size: 35px;
}
.snippet-text .code-snip  p{
    width: 80%;
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
    margin:auto;
    margin-bottom: 10px;
    color: black;
} 
    
.snippet-text  .started{
    width: 100%;
    margin: auto;
    
}
.started .start{
    width: 100%;
    display: block;
    margin: 0;
    text-align: center;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 3px;
    font-size: 14px;
    padding: 10px 30px;
    color: white;
    background-color: black;
} 
.start span{
        color: rgb(117, 113, 113);
}

.snippet-text > p{
        /* outline: 2px solid yellow; */
        text-align: center;
        margin-top: 10px;
        font-size: 14px;
        
    }
    
    .img-text{
        width: 80%;
        height:  120px;
        border-radius: 5px;
        /* outline: 2px solid yellow; */
        vertical-align: middle;
        border-style: none;
        margin: auto;
        margin-top: 20px;
        
}
    
.img-text img{
        width: 100%;
        
}
.center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
}
    
.sect{
        width: 100%;
        background-color: white;
}
    
.sect-content{
        width: 80%;
        display: flex;
        margin: auto;
        flex-direction: column-reverse;
        margin-top: 70px;
}
.sect-content .text-content{
        width: 100%;
        margin-top: 30px;
}
.text-content h1{
        width: 85%;
        font-weight: 800;
        margin-bottom: 10px;
        line-height: 1.5;
}
    
.text-content p{
    -size: 16px;   
    width: 100%;
    line-height: 1.5;
    margin-bottom: 20px;
}
    
.sect-content .img-content{
    width: 100%;
}
    
.sect-content .img-content img{
    width: 100%;
}
.start1{
    text-decoration: none;
    border: 2px solid black;
    border-radius: 3px;
    font-size: 14px;
    padding: 8px 20px;
    color: white;
    background-color: black;
    }
.down-text{
    width: 80%;
    flex-direction: column;
    /* height: 100px; */
}

 .down-text .left{
    /* width: 40%; */
    margin: 0;
    margin-top: 30px;
}
.left img{
    width: 20%%;
    margin: auto;
    outline: 2px solid red;
}
.down-text .right{
    width: 100%;
    margin: auto;
}

.right p{
    display: inline;
    padding-inline: 10px;
    font-size: 14px;
    color: rgb(126, 123, 123);
}
   
}